<ul>
  <% @posts.each do |post| %>
      <li>
        <h1><%= post.name %></h1>
        <p><%= post.content %></p>
        <%= image_tag(post.image.url, alt: 'Image', width: 320) if post.image? %>
        <span><%= post.created_at %></span>
        <%= link_to 'Удалить', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Редактировать', edit_post_path(post) %>
      </li>
  <% end %>
</ul>

<%= link_to "Создать", new_post_path %>

