<div class="header">
  <p>I <span>write</span> here</p>
</div>

<div class="main">
  <div class="container">
    <% @posts.each do |post| %>

      <div class="post">
        <h1><%= post.name %></h1>
        <p class="time"><%= post.created_at %></p>
        <div class="image">
          <%= image_tag(post.image.url, alt: 'Image', width: 320) if post.image? %>
        </div>
        <p class="content"><%= post.content %></p>
        <div class="footer">
          <a class="comments" href="#">43 комментария</a>
          <%=link_to 'Перейти', (post)%>
        </div>
      </div>

    <% end %>
  </div>
</div>
